.main{
    padding: 24px;
    overflow: hidden;
}
nz-select{
    width: 200px;
}
.col-md-3{
    font-weight: 500;
}
.message-required{
    color: red;
    padding-left: 15px;
}
button{
    float: right;
    margin-top: 20px;
}