.eachItem{
    height: 40px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.main{
    //margin-top: 120px;
    padding: 24px;
    overflow: hidden;
}
.pay{
    border: none;
    outline: none;
    float: right;
    margin-top: 20px;
}
