<div class="title-top">
    <h2 class="title">Quản lý sản phẩm</h2>
</div>
<div class="content">
    <div class="button-top">
        <div class="search">
            <input [(ngModel)]="textSearch" nz-input placeholder="Tìm kiếm theo tên sản phẩm"/>
            <i nz-icon nzType="search" nzTheme="outline" (click)="searchName(textSearch)"></i>
        </div>
        <button type="button" class="btn btn-primary" (click)="showModal()">
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>Thêm
        </button>
    </div>
    <div>
        <nz-table #tableBasic [nzData]="lstProductFilter" [nzScroll]="{y: '300px'}" [nzShowPagination]="true" [nzPageSize]="10">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Mã sản phẩm</th>
                    <th>Phân loại</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Đã bán</th>
                    <th>Thông tin</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of lstProductFilter" (dblclick)="editProduct(prod)">
                    <td>{{prod.productName}}</td>
                    <td>{{prod.productCode}}</td>
                    <td>{{prod.category.name}}</td>
                    <td>{{prod.amount}}</td> 
                    <td>{{prod.price|currency: "VND"}}</td>
                    <td></td>
                    <td><a>Xem thêm</a></td>
                    <!-- <td>{{prod.description}}</td> -->
                    <td>
                        <a (click)="showConfirm(prod.id)">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!-- modal add product -->
<nz-modal [nzWidth]="700" [(nzVisible)]="isVisible" nzTitle="Thêm sản phẩm" (nzOnCancel)="handleCancel()">
    <form [formGroup]="newProduct" (ngSubmit)="handleOK()">
        <div class="rows">
            <span class="col-md-3">Tên sản phẩm</span>
            <input nz-input formControlName="productName" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
        </div>
        <div class="message-required" *ngIf="submitted && f.productName.errors">
            <div *ngIf="f.productName.errors.required">*Tên sản phẩm là bắt buộc</div>
        </div>
        <div class="rows">
            <span class="col-md-3">Phân loại</span>
            <nz-select nzPlaceHolder="Chọn loại sản phẩm">
                <nz-option formControlName="category" *ngFor="let cat of categoryData" [nzValue]="cat" [nzLabel]="cat.name"></nz-option>
            </nz-select>
        </div>
        <div class="message-required" *ngIf="submitted && f.category.errors">
            <div *ngIf="f.category.errors.required">*Phân loại sản phẩm là bắt buộc</div>
        </div>
        <div class="rows">
            <span class="col-md-3">Mã sản phẩm</span>
            <input nz-input formControlName="productCode" [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }" />
        </div>
        <div class="message-required" *ngIf="submitted && f.productCode.errors">
            <div *ngIf="f.productCode.errors.required">*Mã sản phẩm là bắt buộc</div>
        </div>
        <div class="rows">
            <span class="col-md-3">Số lượng</span>
            <input nz-input formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
        </div>
        <div class="message-required" *ngIf="submitted && f.amount.errors">
            <div *ngIf="f.amount.errors.required">*Số lượng là bắt buộc</div>
        </div>
        <div class="rows">
            <span class="col-md-3">Giá(VND)</span>
            <input nz-input formControlName="price" />
        </div>
        <div class="message-required" *ngIf="submitted && f.price.errors">
            <div *ngIf="f.price.errors.required">*Giá sản phẩm là bắt buộc</div>
        </div>
        <div class="rows">
            <span class="col-md-3">Ảnh</span>
            <!-- <nz-upload nzAction="api/product/upload" nzName="FormFile" nzListType="picture-card" [nzShowUploadList]="false"
                [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
                <ng-container *ngIf="!imageUrl">
                    <i class="upload-icon" nz-icon [nzType]="loading? 'loading' : 'plus'"></i>
                    <div class="ant-upload-text">Upload</div>
                </ng-container>
                <img *ngIf="imageUrl" [src]="imageUrl" style="width: 100%" formControlName="imageUrl" />
            </nz-upload> -->
            <input name="file" type="file" (change)="onFileChange($event)">
            <button class="btn btn-default" (click)="onSubmit()">Submit</button>
            <img *ngIf="imageUrl" [src]="imageUrl" style="width: 100%" formControlName="imageUrl" />
        </div>
        <!-- <div class="message-required" *ngIf="submitted && f.imageUrl.errors">
            <div *ngIf="f.imageUrl.errors.required">*Ảnh sản phẩm là bắt buộc</div>
        </div> -->
        <div class="rows">
            <span class="col-md-3">Mô tả</span>
            <textarea nz-input formControlName="description"></textarea>
        </div>
        <div class="message-required" *ngIf="submitted && f.description.errors">
            <div *ngIf="f.description.errors.required">*Mô tả sản phẩm là bắt buộc</div>
        </div>
        <div *nzModalFooter>
            <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
            <button nz-button nzType="primary" (click)="handleOK()">OK</button>
        </div>
    </form>
</nz-modal>