app-top-bar{
    //position: fixed;
    top: 0px;
    z-index: 2000;
    width: 100%;
}
app-main{
    //padding-top: 120px;
    width: 100%;
    //position: absolute;
    //top: 120px;
}
.layout{
    position: relative;
}
router-outlet{
    width: 100%;
    position: absolute;
    top: 120px;
}