<div class="containers">
    <div class="site-info">
        <div class="inner-wrap">
            <ul>
                <li>
                    <a href="https://facebook.com/thuhuongnguyen.hust">
                        <i nz-icon nzType="facebook" nzTheme="outline"></i>FACEBOOK
                    </a>
                </li>
                <li>
                    <a>
                        <i nz-icon nzType="youtube" nzTheme="outline"></i>YOUTUBE
                    </a>
                </li> 
                <li>
                    <a>
                        <i nz-icon nzType="instagram" nzTheme="outline"></i>INSTAGRAM
                    </a>
                </li> 
            </ul> 
        </div>
        <div class="site-copyright">
            <div class="inner-wrap">
                <span>Copyright 2021 CanaFashion</span>
            </div>
        </div>
    </div>
</div>